{% extends "base.html" %}


{% block content %}
    <h1>{% block title %}
        Site Details - {{ site_name }}
    {% endblock %}</h1>

    <table class="table">
        <thead>
        <tr>
            <td><strong>Date</strong></td>
            <td><strong>A Value</strong></td>
            <td><strong>B Value</strong></td>
        </tr>
        </thead>


        {% for operation in object_list %}
            <tr>
                <td>{{ operation.date }}</td>
                <td>{{ operation.a_value }}</td>
                <td>{{ operation.b_value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}