{% extends "base.html" %}


{% block content %}
    <h1>{% block title %}
        Summary
    {% endblock %}</h1>
    {% include 'sites/summary_buttons.html' %}

        <table class="table">
            <thead>
                <tr>
                    <td><strong>Site</strong></td>
                    <td><strong>A Value</strong></td><td><strong>B Value</strong></td>
                </tr>
            </thead>

        {% for site in object_list %}
            <tr>
                <td>{{ site.name }}</td>
                <td>{{ site.a_sum }}</td>
                <td>{{ site.b_sum }}</td></tr>
        {% endfor %}
        </table>
{% endblock %}